*{
    text-decoration: none;
    box-sizing: border-box;
    margin:0px;

}
#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    left:0;
    padding: 0;
    z-index: 50;
    background-color: white;
    width:100%;
    
}
a{
    text-decoration: none;
    color: black;
    transition: all 0.4s ease-in-out;
}
#logo{
    color:#c73131;
    font-size:50px;
    font-weight: 900;
    margin-left: 10px;
}
#menu li{
    display: inline-block;
    list-style-type: none;
    margin-right:40px;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
}
#menu li:hover{
    cursor: pointer;
    color:#c73131;
}
.dropdown-menu {
    display: none;  
    position: absolute;
    top:75%;
    background-color: rgb(255, 244, 244);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 200px;
    transition: all 0.3s ease-in-out;
}
.dropdown-menu:hover li {
    display: block;
    cursor: pointer;

}
.dropdown-menu li :hover {
    padding: 10px;
    color: #c73131;
    
}

.dropdown-menu li{
   padding:8px;
}


.dropdown-menu input {
    display: block;
    padding: 10px;
    border:none;
    font-size: 20px;
    cursor: pointer;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

button, button a, .btn{
    padding: 10px;
    border:none;
    margin:5px;
    background-color:  #B63131;
    color:rgb(235, 228, 228);
    border-radius: 5px;
    box-shadow: -3px 7px 10px -8px rgb(66, 33, 28);
    transition : all 0.2s ease-in-out;
    font-weight: 700;
}
.load{
    width:20%;
    height: 50px;
    position: relative;
    left:40%;
    margin-bottom: 20px;
}
button:hover , #exit:hover,.btn:hover {
    transform: scale(1.04);
    cursor: pointer;
}
button:active,.btn:active{
    transform: scale(0.99);
    cursor: pointer;
}
.box:hover{
    transform: scale(1.02);
}
#slogan{
    font-size: 45px;
    font-weight: 900;
    width: 65%;
    position: relative;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    margin: 55px 0px 30px 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#welcome {
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
    padding: 0 15px; /* For small screen responsiveness */
}
span {
    display: block;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #2a2a2a;
    margin-top: 20px;
}
#inscrire{
    width:25%;
    padding:10px;
    position: fixed;
    top: -50%;
    z-index: 40;
    left:50%;
    transform: translate(-50%);
    background-color: #f15c5c9f;
    border-radius: 5%;
    box-shadow: 3px 10px 5px -5px rgba(24, 24, 24, 0.582);
    transition: top 0.4s ease-in-out;
}
#inscrire.active{
    top:15%;
}
#inscrire h1{
    margin-top: 38px;
    font-size: 22px;
}
.box-title{
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

/*article boxes style  */

.boxcontainer{
    background-color: rgb(0, 0, 0);
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.box {
    margin: 25px; 
    width: 390px;
    height:380px;
    background-color: white;
    overflow: hidden;
    border-radius: 3%;
    z-index: 8;
    transition: all 0.3s ease-out;
}
.descrip{
    position:relative;
    top:10px;
}
img{
    z-index:10;
}
.boxcontainer > h1{
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 3%;
}
.boxwrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.box h3{
    color:black;
    text-align: center;
    font-size: 22px;
    margin-top: 40px;
}
.box h3:hover{
    cursor: pointer;
    color:#B63131;
}

.box p{
    color:black;
    font-size: 18px;
    line-height: 1.8;
    padding-left:10px;
}
#exit{
    font-size: 32px;
    float: right;
    margin-top: 0px;
    margin-right: 5px;
    cursor: pointer;
}

.custom-file-input {
    background-color:#f7bdbd;
    color: #B63131;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    transition: all ease-in-out 0.2s;
}

.custom-file-input:hover {
    background-color:#c93e3e;
    color: white;
}

/* slider for articles */


.slider {
    display: flex;
    justify-content: flex-start; 
    transition: transform 0.5s ease-in-out;
    
}

.slider-container {
    width: 100%;
    margin: 10px auto;
    position: relative;
  
  }
#right, #left {
    font-size: 50px;
    color: #c93e3e;
    position: absolute;
    z-index: 20;
    font-weight: 900;
    opacity: 0.6;
    top:45%;
}
#right{
right: 0;
}
#left{
    left: 0;
}